* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  border: solid 1px;

  nav {
    & .store-name {
      color: #9a9a9a;
      font-weight: 700;
      font-size: 28px;
      text-decoration: none !important;
      cursor: pointer;
      width: 50%;
      text-align: center;
    }

    & .menu-option {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #9a9a9a;
      font-weight: 700;
      font-size: 16px;
      float: right;
      margin-right: 5%;

      &.cart {
        margin-right: 10%;
      }
    }
  }
}
